body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.title{
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    background: green;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.back{
    display: inline-block;
    margin-top: 20px;
    color: #03182e;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minimax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card{
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    text-align: center;
}

.card img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}

.form{
    width: 350px;
    background: white;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.form input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}
.hn {
  background-color: black;
  color: white;
  font-family: sans-serif;
}



.h2n {
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}



.canl{
  text-decoration: none;
  border: solid;
  border-color: black;
  color: white;
  background-color: red;
  border-radius: 140px;
  font: solid;
  
}  
.btn2{
    display: inline-block;
    background: red;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}


.btn2e{
    display: inline-block;
    background: blue;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}